.theme-default-content:not(.custom) a:hover {
  text-decoration: none;
}

body, input, textarea {
    font-family: 'Noto Sans JP', sans-serif;
}

.navbar {
  background: #e2f0d9;
}

.navbar .links {
  background-color: transparent !important;
}

.dropdown-wrapper .nav-dropdown .dropdown-item a {
  width: 80px;
}
