body {
    cursor: url(./cursor-1.png), auto;
}

.kit-selectable {
    cursor: url(../cursor-3.png), text;
}

kit-button, .kit-button {
    cursor: url(./cursor-1.png), default;
}

.kit-toggle input+label, kit-btn, .btn, kit-hl, .kit-hyperlink, .kit-button-alt, kit-button-alt {
    cursor: url(./cursor-2.png), pointer;
}

.textbox {
    cursor: url(./cursor-3.png), text;
}